<div class="col-lg-12">
	<div class="jumbotron panel">
	<div class="container">
		<h1>ToggleMe</h1>
		<p>Toggle me makes it easy for teams to manage the release of new features to websites, and mobile applications, without having to redeploy your entire application </p>
	</br>
	<%= link_to "Create Account", new_account_path, class: 'btn btn-lg btn-primary' %>
	</div>
	</div>
</div>
